*.asc
*.aps
*.bat
*.lib
*.opensdf
*.patch
*.pdb
*.sdf
*.suo
*.tar.gz
*.vcxproj.user
./doc/build.bat
./doc/html
./doc/latex
./packaging/info_generated.xml
./projects/make/build*
./projects/vs2013/Debug*
./projects/vs2013/ipch
./projects/vs2013/Release*
./projects/vs2013/x64
