*.asc
*.aps
*.bat
*.lib
*.opensdf
*.patch
*.pdb
*.sdf
*.suo
*.tar.gz
*.vcxproj.user
./doc/build.bat
./doc/html
./doc/latex
./packaging/info_generated.xml
./projects/make/build*
./projects/vs2010/Debug
./projects/vs2010/ipch
./projects/vs2010/Release
./projects/vs2010/x64
./projects/vs2012/Debug
./projects/vs2012/ipch
./projects/vs2012/Release
./projects/vs2012/x64
./projects/vs2013/Debug
./projects/vs2013/ipch
./projects/vs2013/Release
./projects/vs2013/x64
